<p id="notice"><%= notice %></p>

<h1>Friendships</h1>
  <% unless current_user.friendships.empty? %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% current_user.friendships.each do |fship| %>
        <tr>
          <td><%= fship.friend.username %></td>
          <td><%= link_to 'Destroy', friendship_path(fship.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% else %>
  <%= "It looks like you don't have any friends, why don't you add some?" %>
<% end %>
